.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2D2F3D;
}
.logo{
  min-width: 300px !important;
  min-height: auto !important;
  height: auto !important;
}